[data-theme="cityindex"] {
  --orange-1000: #2e1702;
  --orange-900: #4d2703;
  --orange-800: #743a05;
  --orange-700: #9b4d06;
  --orange-600: #c16108;
  --orange-500: #e87409;
  --orange-400: #ec8b32;
  --orange-300: #f0a25b;
  --orange-200: #f3b984;
  --orange-100: #f7d1ad;
  --orange-50: #fae3ce;
  --blue-1000: #001433;
  --blue-900: #002255;
  --blue-800: #003380;
  --blue-700: #0044aa;
  --blue-600: #0055d4;
  --blue-500: #0066ff;
  --blue-400: #2b80ff;
  --blue-300: #5599ff;
  --blue-200: #80b2ff;
  --blue-100: #aaccff;
  --blue-50: #cce0ff;
  --red-1000: #230000;
  --red-900: #3a0000;
  --red-800: #570000;
  --red-700: #740000;
  --red-600: #910000;
  --red-500: #ae0000;
  --red-400: #bb2b2b;
  --red-300: #c95555;
  --red-200: #d68080;
  --red-100: #e4aaaa;
  --red-50: #efcccc;
  --green-1000: #00230c;
  --green-900: #003a14;
  --green-800: #00571e;
  --green-700: #007427;
  --green-600: #009131;
  --green-500: #00ae3b;
  --green-400: #2bbb5c;
  --green-300: #55c97c;
  --green-200: #80d69d;
  --green-100: #aae4be;
  --green-50: #ccefd8;
  --neutral-1000: #191919;
  --neutral-900: #202020;
  --neutral-800: #262626;
  --neutral-700: #313131;
  --neutral-600: #474747;
  --neutral-500: #696969;
  --neutral-400: #8c8c8c;
  --neutral-300: #afafaf;
  --neutral-200: #d1d1d1;
  --neutral-100: #e8e8e8;
  --neutral-50: #f8f8f8;
  --neutral-0: #ffffff;
  --gradients-full-invest-full-range: linear-gradient(90deg, #fbba00 0%, #cc3399 100%);
  --gradients-full-pro-full-range: linear-gradient(90deg, #0c2d72 0%, #662483 48.96%, #00cc66 100%);
  --gradients-full-retail-full-range: linear-gradient(270deg, #ff4343 0%, #9c0b93 50%, #4c1bb7 100%);
  --gradients-tables-invest-table: linear-gradient(90deg, #95155c 0%, #c02157 49.96%, #e26846 100%);
  --gradients-tables-pro-table: linear-gradient(90deg, #42177f 0%, #2f3c90 50%, #247676 100%);
  --gradients-tables-retail-table: linear-gradient(270deg, #e0325c 0%, #9c0b93 50%, #4c1bb7 100%);
  --gradients-icons-invest-icon: linear-gradient(180deg, #f17936 0%, #ee6a48 50%, #e0328c 100%);
  --gradients-icons-pro-icon: linear-gradient(180deg, #42177f 0%, #2f3c90 50%, #247676 100%);
  --gradients-icons-retail-icon: linear-gradient(180deg, #541cb1 0%, #912a8b 50%, #bd336e 100%);
  --gradients-tags-invest-tag: linear-gradient(90deg, #f17936 0%, #e0328c 100%);
  --gradients-tags-pro-tag: linear-gradient(92deg, #42177f 0%, #2f3c90 99.81%);
  --gradients-tags-retail-tag: linear-gradient(90deg, #541cb1 0%, #912a8b 100%);
  --gradients-ct-as-invest-cta: linear-gradient(135deg, #ef991e 0%, #d95554 100%);
  --gradients-ct-as-pro-cta: linear-gradient(135deg, #00cc66 0%, #009640 100%);
  --gradients-ct-as-retail-cta-selected: linear-gradient(135deg, #591818 0%, #510F1C 100%);
  --gradients-ct-as-retail-cta-hover: linear-gradient(135deg, #B22F2F 0%, #A11E38 100%);
  --gradients-ct-as-retail-cta-default: linear-gradient(135deg, #ff4343 0%, #e62b50 100%);
  --letter-spacing-body: 0em;
  --letter-spacing-heading: 0em;
  --line-height-body: 1.3;
  --line-height-heading: 1.2;
  --brand: Aeonik;
  --border-width-default: 1px;
  --border-lg: 0;
  --border-md: 0;
  --border-sm: 0;
  --cta-normal: var(--medium) var(--font-size-14)/var(--line-height-body) var(--brand);
  --default-body: var(--regular);
  --default-heading: var(--light);
  --emphasis-body: var(--bold);
  --emphasis-heading: var(--medium);
  --border-cta: var(--border-rounded);
  --padding-cta-sm: var(--padding-xxxxs) var(--padding-xxs);
  --padding-cta-lg: var(--padding-xxxs) var(--padding-xs);
}
