[data-theme="cityindex"] {
  --shadow-2: 0 6px 16px 0 rgba(0, 0, 0, 0.1);
  --shadow-1: 0 4px 16px 0 rgba(0, 0, 0, 0.06);
  --color-surface-level3: #BDBDBD;
  --color-surface-level2: #D3D3D3;
  --color-surface-level1: #e3e3e3;
  --color-surface-background: #FFFFFF;
  --color-disabled-foreground-default: var(--neutral-500);
  --color-disabled-background-default: var(--neutral-300);
  --color-error-foreground-active: var(--red-900);
  --color-error-foreground-hover: var(--red-700);
  --color-error-foreground-default: var(--red-800);
  --color-error-background-active: var(--red-200);
  --color-error-background-hover: var(--red-100);
  --color-error-background-default: var(--red-50);
  --color-error-default: var(--red-500);
  --color-warning-foreground-active: var(--orange-900);
  --color-warning-foreground-hover: var(--orange-700);
  --color-warning-foreground-default: var(--orange-800);
  --color-warning-background-active: var(--orange-200);
  --color-warning-background-hover: var(--orange-100);
  --color-warning-background-default: var(--orange-50);
  --color-warning-default: var(--orange-500);
  --color-info-foreground-active: var(--blue-900);
  --color-info-foreground-hover: var(--blue-700);
  --color-info-foreground-default: var(--blue-800);
  --color-info-background-active: var(--blue-200);
  --color-info-background-hover: var(--blue-100);
  --color-info-background-default: var(--blue-50);
  --color-info-default: var(--blue-500);
  --color-success-foreground-active: var(--green-900);
  --color-success-foreground-hover: var(--green-700);
  --color-success-foreground-default: var(--green-800);
  --color-success-background-active: var(--green-200);
  --color-success-background-hover: var(--green-100);
  --color-success-background-default: var(--green-50);
  --color-success-default: var(--green-500);
  --color-card-active: var(--neutral-200);
  --color-card-hover: var(--neutral-100);
  --color-card-default: var(--neutral-50);
  --color-border-selected: var(--gradients-tags-retail-tag);
  --color-border-active: var(--neutral-300);
  --color-border-hover: var(--neutral-200);
  --color-border-default: var(--neutral-100);
  --color-link-active: var(--neutral-600);
  --color-link-hover: var(--neutral-600);
  --color-link-default: var(--neutral-1000);
  --color-cta-secondary-foreground-active: var(--neutral-0);
  --color-cta-secondary-foreground-hover: var(--neutral-500);
  --color-cta-secondary-foreground-default: var(--neutral-1000);
  --color-cta-secondary-background-active: var(--neutral-1000);
  --color-cta-secondary-background-hover: var(--transparent);
  --color-cta-secondary-background-default: var(--transparent);
  --color-cta-primary-foreground-active: var(--neutral-0);
  --color-cta-primary-foreground-hover: var(--neutral-0);
  --color-cta-primary-foreground-default: var(--neutral-0);
  --color-cta-primary-background-active: var(--gradients-ct-as-retail-cta-selected);
  --color-cta-primary-background-hover: var(--gradients-ct-as-retail-cta-hover);
  --color-cta-primary-background-default: var(--gradients-ct-as-retail-cta-default);
  --color-text-tertiary: var(--neutral-600);
  --color-text-secondary: var(--neutral-800);
  --color-text-primary: var(--neutral-1000);
  --color-brand-icon: var(--green-100);
  --color-brand-tertiary: var(--green-900);
  --color-brand-primary: var(--orange-400);
  --color-brand-secondary: var(--red-600);
}
