:root {
  --size-badge-sm-min: 26px;
  --size-accordion-chevron-lg: var(--size-32);
  --size-accordion-chevron-sm: var(--size-24);
  --size-accordion-icon-lg: var(--size-20);
  --size-accordion-icon-sm: var(--size-16);
  --size-button-text-icon-lg: var(--size-8);
  --size-button-text-icon-sm: var(--size-8);
  --size-button-icon-lg: var(--size-16);
  --size-button-icon-sm: var(--size-14);
  --gap-badge-icon: var(--gap-xxxxs);
  --gap-tag-icon: var(--gap-xxxxs);
  --gap-accordion-chevron-lg: var(--gap-xs);
  --gap-accordion-chevron-sm: var(--gap-xxxs);
  --gap-accordion-content-lg: var(--gap-xs);
  --gap-accordion-content-sm: var(--gap-xxxs);
  --gap-accordion-icon-lg: var(--gap-xxxs);
  --gap-accordion-icon-sm: var(--gap-xxxs);
  --gap-button-text-icon-lg-hover: var(--gap-xxs);
  --gap-button-text-icon-lg-default: var(--gap-xxxs);
  --gap-button-text-icon-sm-hover: var(--gap-xxxs);
  --gap-button-text-icon-sm-default: var(--gap-xxxxs);
  --gap-button-icon-lg: var(--gap-xxxs);
  --gap-button-icon-sm: var(--gap-xxxs);
  --padding-accordion-content-sm: 0px var(--padding-xs);
  --padding-accordion-content-lg: 0px var(--padding-sm);
  --padding-badge-lg: var(--padding-xxxxs) var(--padding-xxs);
  --padding-badge-md: var(--padding-xxxxs) var(--padding-xxxs);
  --padding-badge-sm: var(--padding-xxxxxs) var(--padding-xxxxs);
  --padding-card-xl: var(--padding-md);
  --padding-card-lg: var(--padding-sm);
  --padding-card-md: var(--padding-xs);
  --padding-card-sm: var(--padding-xxs);
  --padding-card-xs: var(--padding-xxxxs);
  --padding-tag-lg: var(--padding-xxxxs);
  --padding-tag-sm: var(--padding-xxxxxs);
  --padding-button-lg: var(--padding-cta-lg);
  --padding-button-sm: var(--padding-cta-sm);
}
