[data-theme="forex"] {
  --shadow-2: 0 6px 16px 0 rgba(0, 0, 0, 0.16);
  --shadow-1: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
  --color-disabled-foreground-default: var(--forex-neutral-300);
  --color-disabled-background-default: var(--forex-neutral-500);
  --color-error-foreground-active: var(--forex-red-900);
  --color-error-foreground-hover: var(--forex-red-500);
  --color-error-foreground-default: var(--forex-red-700);
  --color-error-background-active: var(--forex-red-100);
  --color-error-background-hover: var(--forex-red-50);
  --color-error-background-default: var(--forex-red-0);
  --color-error-default: var(--forex-red-500);
  --color-warning-foreground-active: var(--forex-orange-900);
  --color-warning-foreground-hover: var(--forex-orange-500);
  --color-warning-foreground-default: var(--forex-orange-700);
  --color-warning-background-active: var(--forex-orange-100);
  --color-warning-background-hover: var(--forex-orange-50);
  --color-warning-background-default: var(--forex-orange-0);
  --color-warning-default: var(--forex-orange-500);
  --color-info-foreground-active: var(--forex-blue-1000);
  --color-info-foreground-hover: var(--forex-blue-600);
  --color-info-foreground-default: var(--forex-blue-800);
  --color-info-background-active: var(--forex-blue-200);
  --color-info-background-hover: var(--forex-blue-150);
  --color-info-background-default: var(--forex-blue-100);
  --color-info-default: var(--forex-blue-600);
  --color-success-foreground-active: var(--forex-green-1000);
  --color-success-foreground-hover: var(--forex-green-600);
  --color-success-foreground-default: var(--forex-green-800);
  --color-success-background-active: var(--forex-green-100);
  --color-success-background-hover: var(--forex-green-50);
  --color-success-background-default: var(--forex-green-0);
  --color-success-default: var(--forex-green-500);
  --color-surface-level3: var(--forex-blue-100);
  --color-surface-level2: var(--forex-blue-50);
  --color-surface-level1: var(--forex-blue-0);
  --color-surface-background: var(--forex-neutral-0);
  --color-card-active: var(--forex-blue-50);
  --color-card-hover: var(--forex-blue-0);
  --color-card-default: var(--forex-neutral-0);
  --color-border-selected: var(--forex-blue-400);
  --color-border-active: var(--forex-blue-900);
  --color-border-hover: var(--transparent);
  --color-border-default: var(--transparent);
  --color-link-active: var(--forex-blue-1000);
  --color-link-hover: var(--forex-blue-800);
  --color-link-default: var(--forex-blue-600);
  --color-cta-secondary-foreground-active: var(--forex-neutral-0);
  --color-cta-secondary-foreground-hover: var(--forex-neutral-0);
  --color-cta-secondary-foreground-default: var(--forex-blue-900);
  --color-cta-secondary-background-active: var(--forex-blue-700);
  --color-cta-secondary-background-hover: var(--forex-blue-900);
  --color-cta-secondary-background-default: var(--transparent);
  --color-cta-primary-foreground-active: var(--forex-neutral-0);
  --color-cta-primary-foreground-hover: var(--forex-neutral-0);
  --color-cta-primary-foreground-default: var(--forex-neutral-0);
  --color-cta-primary-background-active: var(--forex-green-900);
  --color-cta-primary-background-hover: var(--forex-green-700);
  --color-cta-primary-background-default: var(--forex-green-500);
  --color-text-tertiary: var(--forex-neutral-500);
  --color-text-secondary: var(--forex-neutral-700);
  --color-text-primary: var(--forex-neutral-900);
  --color-brand-icon: var(--forex-gradient-brand);
  --color-brand-tertiary: var(--forex-green-500);
  --color-brand-secondary: var(--forex-blue-900);
  --color-brand-primary: var(--forex-blue-600);
}
